.logo-img{
    height: 40px;
    width: 292px;
}
.h1col{
    color: #F2994A;
    font-size: 60px;
    margin-top: 50px;
}
.main,.nav1{
    padding-top: 20px;
    background-color: #FFFBF0;
}

.nvalink{
    margin-left: 20px;
}
span{
    color: #363958;
}
.button1{
    background-color: #A4BC46;
    width: 165px;
    height: 58px;
    border-radius: 15px;
    border: none ;
    color: whitesmoke;
}
.greengirl{
    width: 450px;
    margin-left: 50px;
    
}
button > img{
    width: 25px;
}
.card{
    padding: 15px;
}
.price{
    color: #FABE4C;
  
}
.img{
    width: 300px;
    height: 350px;
    background-color: #F1F1F1;
    border-radius: 15px;
}
.footer-img{
    width: 70px;
    height: 70px;
}
.small-img{
    padding: 15px 0 0 15px;
}
.footer-border{
    border-radius: 20px;
}
.last-img {
    margin-left: 20px;
}
.round-border{
    border-radius: 25px !important;
    align-items: center ;
}
@media (max-width: 1200px){
    .img{
        width: 240px;
        height: 320px;
    }
    
    .media{
        width: 200px;
    }
}


@media (max-width: 992px){
    .img{
        width: 200px;
        height: 250px;
    }
    .jacket-head{
        padding-top: 50px;
    }
    .last-img{
        width: 100%;
    }
    
}
@media (max-width: 768px){
    .media{
        width: 280px;
        align-items: center;
    }
    .price{
        font-size: bold;
        font-weight: 900;
        font-size: 35px;
    }
    .img{
        width: 400px;
        height: 450px;
        padding: 20px;
    }
    .card-title{
        font-size: 30px;
    }
    .card-text{
        font-size: 22px;
    }
    .jacket-head{
        text-align: center;
    }
    .card{
        margin: 30px 25px;
    }
    .last-part{
        float: right;
    }
}